<div class="contain mt-5">
    <div class="row p-5">
        <div class="col-lg-2 " *ngIf="movieDetails?.poster_path">
            <img src="https://image.tmdb.org/t/p/original/{{ movieDetails.poster_path }}">

        </div>
        <div class="col-lg-10 mt-5 p-4 ">
            <h1 class="mt-2 mb-2">{{movieDetails?.original_title}}</h1>
            <p class="mt-3 mb-3">{{movieDetails?.overview}}</p>
            <a class="btn btn-md" href="https://www.themoviedb.org/video/play?key={{movieVideo}}" target="_blank">
                Watch Trailer </a>

            <div class="mt-4 p-4">
                <h2 class="text-white">Top Cast</h2>
                <div class="row">
                    <div class="col-lg-4" *ngFor="let casts of movieCasts">
                        <div class="row mt-2 mb-2">
                            <div class="col-lg-4" *ngIf="casts.profile_path">
                                <img class="" src="https://image.tmdb.org/t/p/original/{{ casts.profile_path }}">

                            </div>
                            <div class="col-lg-8 ">
                                <h3 class="text-white">{{casts.original_name}}</h3>
                                <p class="text-white">{{casts.character}}</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>